[Unit]
Description=Service for RPi-Clock
After=network.target

[Service]
Type=simple
WorkingDirectory=/usr/bin/rpi-clock
ExecStart=/usr/bin/python /usr/bin/rpi-clock/clock.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
